asgiref==3.3.0
Django==3.1.3
djangorestframework==3.12.2
mysqlclient==2.0.1
PyMySQL==0.10.1
pytz==2020.4
sqlparse==0.4.1
Unipath==1.1



python manage.py startapp



python manage.py makemigrations inventory

python manage.py migrate inventory
